@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


.card-dialog-box {
  position: absolute;
  width: 100%;
  height: 100%;

  top: 50%;
  left: 50%;
  z-index: 99;

  overflow: hidden;


  background: rgba(0, 0, 0, 0.55);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.423);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);


  transition: all 300ms ease-in-out;
}
