.button-br {
    display: flex;
    height: 2em;
    padding: 10px;
    width: fit-content;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee4b;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #fff;
    font-size: 80%;
   }
   
   .button-br > .arrow-icon {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
   }
   
   .button-br:hover > .arrow-icon {
    font-size: 1.2em;
    transform: translateX(-5px);
   }
   
   .button-br:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
   }