* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif
}

header {
    padding-top: 50px;
    padding-bottom: 50px
}

header h1 {
    color: #AAA;
    font-size: 36px;
    font-weight: 400;
    text-align: center
}

header h1 strong {
    color: #313131
}

.content-wrap {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline-flex;
    justify-content: center;

}

.content-wrap aside {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 250px;
    flex: 1 1 250px;
    max-width: 250px;
    padding-right: 16px;
}

.content-wrap aside nav {
    padding-left: 16px;
    padding-right: 16px
}

.content-wrap aside nav h3 {
    color: #313131;
    font-size: 24px;
    margin-bottom: 16px
}

.content-wrap aside nav a {
    display: block;
    padding: 8px 16px;
    text-align: left;
    color: #888;
    font-size: 16px;
    margin-bottom: 16px;
    background-color: #EEE;
    border-radius: 999px;
    text-decoration: none;
    -webkit-transition: 0.4s;
    transition: 0.4s
}

.content-wrap aside nav a:hover {
    background-color: #313131;
    color: #AAA
}

.content-wrap main {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    padding: 0px 16px
}

.content-wrap main .main-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.content-wrap main .main-head .search-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%
}

.search-box{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    display: block;
    width: 100%;
    max-width: 80%;
    padding: 16px;
    border-radius: 999px;
    background-color: #EEE;
    -webkit-transition: 0.4s;
    transition: 0.4s
}

.search-box ::-webkit-input-placeholder {
    color: #888
}

.search-box :-ms-input-placeholder {
    color: #888
}

.search-box ::-ms-input-placeholder {
    color: #888
}

.search-box ::placeholder {
    color: #888
}

.search1-box input:focus,
.search1-box input:valid {
    background-color: #313131;
    color: #FFF
}

.search1-box{
  width: 500px;
}

.anime-card figure img {
    display: block;
    width: 100%;
    height: 350px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 16px;
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
    -webkit-transition: 0.4s;
    transition: 0.4s
}

.anime-card h2 {
    color: #313131
}

.anime-card:hover figure img {
    -webkit-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
}

.a-nodec{
  text-decoration: none;
}
.a-nodec:hover{
  text-decoration: underline;
}


/* CSS */
.button-27 {
  width: 100px;
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  min-height: 50px;
  max-height: 60px;
  min-width: 0;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;

}

.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px) scale(1.1);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}

/* CARD CSS */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.app .dark-theme {
  background : #212121 ;
  margin : 0 ;
  padding : 0 ;
  transition: all .3s;
  color: white;
}
.app .light-theme {
  background : #e8e8e8 ;
  margin : 0 ;
  padding : 0 ;
  transition: all .3s;
  color: #212121;
}


.dark-theme {
  background : #212121 ;
  margin : 0 ;
  padding : 0 ;
  transition: all .3s;
  color: white;
}
.light-theme {
  background : #e8e8e8 ;
  margin : 0 ;
  padding : 0 ;
  transition: all .3s;
  color: #212121;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background:rgba(255, 99, 71, .3);
  border-radius:2px;
}
::-webkit-scrollbar-thumb:hover {
  background:rgba(255, 99, 71, .9);
  border-radius:2px;
}
.container {
  width: 95%;
  margin: 0 auto;
  display :flex;
  justify-content:space-evenly;
  flex-wrap:wrap;
}

/* Navbar CSS */
/* 
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #333;
  }
  
  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    flex: 1;
    text-align: center;
  }
  
  a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
  }
  
  li:hover {
    /* background-color: #444; 
    box-shadow: #1e1e1e 3px 3px 3px;
    border-radius: 10px;
    transition: ease-in-out 0.25s;
  }
   */

   .logo{
    height: 100px;
    width: 100px;
    display: flexbox;
    background-image: url("./img/LOGO.png");
    background-size: cover; 
  }

  .toggle{
    position: absolute;
    top: 5%;
    left: 95%;
  }